img{
    width:100px;
    height:100px;
}
.header{
    text-align:center;
    background-image: linear-gradient(rgb(211, 15, 48), rgba(236, 109, 130, 0.986));
    color:floralwhite;
    font-size:33px;
    padding: 60px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color:rgb(250, 239, 240);
    margin:0%;
}
h3{
    font-size:25px;
    
}
.first{
    Color: rgb(112, 4, 22);
}
.second{
    Color: rgb(170, 15, 41);
}
.third{
    Color: rgb(192, 11, 41);
}
.fourth{
    Color: rgb(226, 12, 48);
}
.fifth{
    Color: rgb(255, 14, 54);
}
table{
    border-width: medium;
    border: mediumvioletred;
    border-style: dotted;
    
}
button{background-color: rgba(236, 109, 130, 0.986);

  text-align: center;
  font-size: 20px;
  cursor: pointer;
}
button:hover{
    background-color:crimson;
}
a{
    text-decoration:none;
    color:white;
}